{% extends 'core/base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Get to know us better!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                Secret Mystery stuff about our very humble beningings!
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget nibh pulvinar, sagittis est quis, pulvinar risus. Duis fermentum vehicula imperdiet. Nulla et tellus non risus gravida lobortis in et mauris. Maecenas a mi fermentum, tincidunt metus et, tincidunt dui. Phasellus luctus justo et velit varius sollicitudin eu vel enim. Ut a bibendum massa. Donec eros dui, facilisis id sapien nec, pretium placerat massa. Aenean vel urna porttitor, rhoncus sapien ac, faucibus libero. Proin sed elit consectetur, egestas erat sit amet, imperdiet ex. Suspendisse a ornare est. Donec tincidunt dui nulla, a iaculis dolor feugiat in. Nam sagittis, nibh ac suscipit dignissim, augue massa ullamcorper lectus, nec accumsan lorem odio a quam. Ut in vehicula diam. Quisque sit amet nisi malesuada, tristique arcu ut, mattis est.
                </p>
                <br>
            </div>
        </center>
    </div>
</div>
{% endblock %}