{% extends 'core/base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Category Directory</h1>
            <p class="lead fw-normal text-white-50 mb-0">Get reading!</p>
        </div>
    </div>
</header>

<div class="container">
    <br>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <div class="card-body">
                    {% for category in categories %}
                    <a href="{% url 'category' category %}"> {{ category.name }}</a>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}